@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: sans-serif;
  @apply bg-white;
  @apply text-blue-700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.responsive-title {
  font-size: clamp(3rem, 6vw, 10rem); /* Ajustado para começar de 3rem e ir até 10rem */
  transform: rotate(-5deg);
  font-weight: bold;
  font-family: sans-serif;
}
